<div class="Menu container">マイページ</div>
<div class="container">
  <h2>登録情報<%= link_to "編集する", edit_customers_path, class: "btn btn-success" %></h2>
</div>
氏名　<%= current_customer.firstname %><%= current_customer.lastname %><br />
カナ　<%= current_customer.kana_firstname %><%= current_customer.kana_lastname %><br />
郵便番号 <%= current_customer.postcode %><br />
住所 <%= current_customer.address %><br />
電話番号 <%= current_customer.phone_number %><br />
メールアドレス <%= current_customer.email %><br />

<div class="container">
  <div class="row">配送先：<%= link_to "一覧を見る", shipping_addresses_path %></div>
  <div class="row"><%= link_to "注文履歴一覧", orders_path %></div>
</div>
