<div class="page_title offset-1 my-3">マイページ</div>
<div class="container">
  <strong>登録情報<%= link_to "編集する", edit_customers_path, class: "btn btn-success btn-sm mx-3 col-1" %></strong>
  <table class="table table-bordered my-3">
    <thead class="thead-light">
    <tr><th>氏名</th><td><%= add_space_fullname(current_customer.firstname, current_customer.lastname) %></td></tr>
    <tr><th>カナ</th><td><%= add_space_fullname(current_customer.kana_firstname, current_customer.kana_lastname) %></td></tr>
    <tr><th>郵便番号</th><td><%= current_customer.postcode %></td></tr>
    <tr><th>住所</th><td><%= current_customer.address %></td></tr>
    <tr><th>電話番号</th><td><%= current_customer.phone_number %></td></tr>
    <tr><th>メールアドレス</th><td><%= current_customer.email %></td></tr>
    </thead>
  </table>
  <strong><p>配送先　<%= link_to "一覧を見る", shipping_addresses_path, class: "btn btn-primary btn-sm col-2 my-2 mx-3" %></p></strong>
  <strong><p>注文履歴<%= link_to "一覧を見る", orders_path, class: "btn btn-primary btn-sm col-2 my-2 mx-3" %></p></strong>
</div>
