<div class="page_title offset-1 my-3">マイページ</div>
<div class="container">
  <strong>登録情報<%= link_to "編集する", edit_customers_path, class: "btn btn-success" %></strong>
<table class="table">
  <thead>
    <tr>
      <th>氏名</th>
      <th>カナ</th>
      <th>郵便番号</th>
      <th>住所</th>
      <th>電話番号</th>
      <th>メールアドレス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= add_space_fullname(current_customer.firstname, current_customer.lastname) %></td>
      <td><%= add_space_fullname(current_customer.kana_firstname, current_customer.kana_lastname) %></td>
      <td><%= current_customer.postcode %></td>
      <td><%= current_customer.address %></td>
      <td><%= current_customer.phone_number %></td>
      <td><%= current_customer.email %></td>
    </tr>
  </tbody>

</table>
</div>
<div class="container">
  <div class="row">配送先：<%= link_to "一覧を見る", shipping_addresses_path %></div>
  <div class="row"><%= link_to "注文履歴一覧", orders_path %></div>
</div>
