<div class="mb-1"><span class="h4 font-weight-bold">商品一覧</span>（全<%= @products.count %>件）</div>
<ul class="product-list d-flex flex-wrap mx-4">
  <% @products.each do |product| %>
    <li class="product-list-item col-3">
      <%= link_to product_path(product) do %>
        <%= attachment_image_tag product, :product_image, size: "200x200", fallback: "no_image.jpg" %>
        <p class="my-1"></p><%= product.name %></p>
        <p>¥<%= include_tax(product.price).to_s(:delimited) %>（税込）</p>
      <% end %>
    </li>
  <% end %>
</ul>

<%= paginate @products %>
