<h2>Sign up</h2>

<%= form_with model: @customer, url: customers_path, id: 'new_user', class: 'new_user col-12', local: true do |f| %>
<%= render "customers/shared/error_messages", resource: resource %>

<div class="row">
  <%= f.label "名前", class: "col-2" %>
  <div class="offset-1">(姓)</div>
  <%= f.text_field :firstname, autofocus: true, class: "form-control col-3 ", placeholder: "令和" %>
  <div class="offset-1">(名)</div>
  <%= f.text_field :lastname, autofocus: true, class: "form-control col-3", placeholder: "道子" %>
</div>

<div class="row">
  <%= f.label "フリガナ", class: "col-2" %>
  <div class="offset-1">(セイ)</div>
  <%= f.text_field :kana_firstname, autofocus: true, class: "form-control col-3", placeholder: "レイワ" %>
  <div class="offset-1">(メイ)</div>
  <%= f.text_field :kana_lastname, autofocus: true, class: "form-control col-3", placeholder: "ミチコ" %>
</div>

<div class="row">
  <%= f.label :email, "メールアドレス",class: "col-2" %>
  <%= f.email_field :email, autofocus: true, class: "form-control col-3", placeholder: "sample@sample.com" %>
</div>

<div class="row">
  <%= f.label :postcode,'郵便番号(ハイフンなし)', class: "col-2" %>
  <%= f.text_field :postcode, autofocus: true, class: "form-control col-3", id: "user_postcode", placeholder: "0000000" %>
</div>

<div class="row">
  <%= f.label :address,'住所', class: "col-2" %>
  <%= f.text_field :address, autofocus: true, class: "form-control col-3", id: "user_address", placeholder: "東京都渋谷区代々木新園町0-0" %>
</div>

<div class="row">
  <%= f.label :phone_number,'電話番号', class: "col-2" %>
  <%= f.text_field :phone_number, autofocus: true, class: "form-control col-3", placeholder: "00000000000" %>
</div>


<div class="row">
  <%= f.label "パスワード" %>
  <% if @minimum_password_length %>
    (<%= @minimum_password_length %>文字以上)
  <% end %>
  <%= f.password_field :password, autocomplete: "off", class: "form-control col-3" %>
</div>
<div class="row">
  <%= f.label "パスワード(確認用)", class: "col-2" %>
  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control col-4" %>
</div>
<div class="row">
  <%= f.submit "新規登録" ,class: 'btn-lg btn-sm btn-success offset-2 col-3' %>
<% end %>
</div>


<p>すでに登録済みの方</p>


<%= render "customers/shared/links" %>からログインしてください
