<div class="Menu"><%= @customer.fullname %>さんの会員情報編集</div>

<%= form_with model: @customer, url: admin_customer_path, class: "container", local: true do |f| %>
 <div class="row my-3">
  <%= f.label "名前", class: "col-2" %>
  (姓)<%= f.text_field :firstname, autofocus: true, class: "form-control col-4" %>
  (名)<%= f.text_field :lastname, autofocus: true, class: "form-control col-4" %>
</div>
<div class="row my-3">
  <%= f.label "フリガナ", class: "col-2" %>
  (セイ)<%= f.text_field :kana_firstname, autofocus: true, class: "form-control col-4" %>
  (メイ)<%= f.text_field :kana_lastname, autofocus: true, class: "form-control col-4" %>
</div>
<div class="row my-3">
  <%= f.label :email, "メールアドレス",class: "col-2" %>
  <%= f.email_field :email, autofocus: true, class: "form-control col-4" %>
</div>
<div class="row my-3">
  <%= f.label :postcode,'郵便番号', class: "col-2" %>
  <%= f.text_field :postcode, autofocus: true, class: "form-control col-4", id: "user_postcode" %>
</div>
<div class="row my-3">
  <%= f.label :address,'住所', class: "col-2" %>
  <%= f.text_field :address, autofocus: true, class: "form-control col-8", id: "user_address" %>
</div>
<div class="row my-3">
  <%= f.label :phone_number,'電話番号', class: "col-2" %>
  <%= f.text_field :phone_number, autofocus: true, class: "form-control col-4" %>
</div>
  <%= f.radio_button :is_valid, true %>有効　<%= f.radio_button :is_valid, false %>退会
<div class="row my-3">
  <%= f.submit "変更を保存" ,class: 'btn-lg btn-sm btn-success offset-2 col-3' %>
</div>
<% end %>