<div class="page_title offset-1 my-3"><%= @customer.fullname %>さんの会員情報編集</div>

<%= form_with model: @customer, url: admin_customer_path, class: "container", local: true do |f| %>
<div class="row my-3">
  <%= f.label "会員ＩＤ", class: "col-2" %>
  <%= f.label @customer.id, class: "col-4" %>
</div>
<div class="row my-3">
  <%= f.label "名前", class: "col-2" %>
  <%= f.text_field :firstname, autofocus: true, class: "form-control col-4" %>
  <%= f.text_field :lastname, autofocus: true, class: "form-control col-4 offset-1" %>
</div>
<div class="row my-3">
  <%= f.label "フリガナ", class: "col-2" %>
  <%= f.text_field :kana_firstname, autofocus: true, class: "form-control col-4" %>
  <%= f.text_field :kana_lastname, autofocus: true, class: "form-control col-4 offset-1" %>
</div>
<div class="row my-3">
  <%= f.label :email, "メールアドレス",class: "col-2" %>
  <%= f.email_field :email, autofocus: true, class: "form-control col-4" %>
</div>
<div class="row my-3">
  <%= f.label :postcode,'郵便番号', class: "col-2" %>
  <%= f.text_field :postcode, autofocus: true, class: "form-control col-4", id: "customer_postcode" %>
</div>
<div class="row my-3">
  <%= f.label :address,'住所', class: "col-2" %>
  <%= f.text_field :address, autofocus: true, class: "form-control col-9", id: "customer_address" %>
</div>
<div class="row my-3">
  <%= f.label :phone_number,'電話番号', class: "col-2" %>
  <%= f.text_field :phone_number, autofocus: true, class: "form-control col-4" %>
</div>
<div class="row my-3">
  <%= f.label :is_valid,'会員ステータス', class: "col-2" %>
  <div class="col-4"><%= f.radio_button :is_valid, true %>有効　<%= f.radio_button :is_valid, false %>退会</div>
</div>
<div class="row my-3">
  <%= f.submit "変更を保存" ,class: 'btn btn-success offset-2 col-4' %>
</div>
<% end %>