<%= render 'customers/shared/error_messages', resource: @shipping_address %>>
<div class="row">
  <p class = "page_title">配送先登録/一覧</p>
</div>
<div class="row">
  <div class="col-12">
  <%= form_with model: @shipping_address, url: shipping_addresses_path, local:true do |f| %>
    <dl>
      <dt><%= f.label :shipping_address_postcode, "郵便番号(ハイフンなし)" %></dt>
      <dd><%= f.text_field :postcode, class: 'form-control col-4' %></dd>
      <dt><%= f.label :shipping_address_address, "住所" %></dt>
      <dd><%= f.text_field :address, class: 'form-control col-7'%></dd>
      <dt><%= f.label :shipping_address_address_name, "宛名" %></dt>
      <dd class = "form-inline">
        <%= f.text_field :address_name, class: 'form-control col-4' %>
        <%= f.submit '新規登録', class: 'btn btn-success offset-2'  %>
      </dd>
    </dl>
  <% end %>
  </div>
  <table class="table table-bordered col-10">
    <thead class="thead-light">
      <tr>
        <th style="width:10%">郵便番号</th>
        <th style="width:40%">住所</th>
        <th style="width:20%">宛名</th>
        <th style="width:30%"></th>
      </tr>
    </thead>
    <tbody>
      <% @shipping_addresses.each do |shipping_address| %>
      <tr>
        <td>
          <%= shipping_address.postcode %>
        </td>
        <td>
          <%= shipping_address.address %>
        </td>
        <td>
          <%= shipping_address.address_name %>
        </td>
        <td style="text-align:center">
          <%= link_to "編集する", edit_shipping_address_path(shipping_address.id), class:"btn btn-success" %>
          <%= link_to "削除する", shipping_address_path(shipping_address.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
