<%= render 'customers/shared/error_messages', resource: @shipping_address %>
<p>配送先登録/一覧</p>
<%= form_with model: @shipping_address, url: shipping_addresses_path, local:true do |f| %>
  <label for="shipping_address_postcode">
    郵便番号(ハイフンなし)
  </label>
  <%= f.text_field :postcode %><br>
  <label for="shipping_address_address">
    住所
  </label>
  <%= f.text_field :address %><br>
  <label for="shipping_address_address_name">
    宛名
  </label>
  <%= f.text_field :address_name %>
  <%= f.submit '新規登録' %>
<% end %>

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @shipping_addresses.each do |shipping_address| %>
    <tr>
      <td>
        <%= shipping_address.postcode %>
      </td>
      <td>
        <%= shipping_address.address %>
      </td>
      <td>
        <%= shipping_address.address_name %>
      </td>
      <td>
        <%= link_to "編集する", edit_shipping_address_path(shipping_address.id), class:"btn btn-success" %>
        <%= link_to "削除する", shipping_address_path(shipping_address.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
