<div class="col-12">
  <h3>商品編集</h3>
  <div class="new-product-form col-6 offset-3">
    <%= form_with model: @product, url: admin_product_path, local: true do |f| %>
      <dl>
        <dt><%= f.label :product_image, "商品画像", class: 'mr-5' %></dt>
        <dd><%= f.attachment_field :product_image %></dd>
        <dt><%= f.label :name, "商品名", class: 'mr-5' %></dt>
        <dd><%= f.text_field :name, placeholder: '商品名', class: 'form-control col-7' %></dd>
        <dt><%= f.label :description, "商品説明", class: 'mr-5' %></dt>
        <dd><%= f.text_area :description, placeholder: 'ここに説明文を記述します', rows: 5, class: 'form-control col-7' %></dd>
        <dt><%= f.label :genre_id, "ジャンル", class: 'mr-5' %></dt>
        <dd><%= f.collection_select :genre_id, Genre.all, :id, :genre, :prompt => "-- 選択してください --" %></dd>
        <dt><%= f.label :price, "税抜価格", class: 'mr-5' %></dt>
        <dd><%= f.text_field :price, placeholder: '1000', class: 'form-control col-7' %></dd>
        <dt><%= f.label :is_valid, "販売ステータス", class: 'mr-5' %></dt>
        <dd>
          <%= f.radio_button :is_valid, :true, default: true %>
          <%= f.label :is_valid, "販売中", value: true %>
          <%= f.radio_button :is_valid, :false %>
          <%= f.label :is_valid, "販売停止中", value: false %>
        </dd>
      </dl>
      <%= f.submit "変更を保存", class: 'btn btn-success mx-auto' %>
    <% end %>
  </div>
</div>