<div class="col-12">
  <div class="row">
    <h3 class="my-5 ml-5"><span class = "page_title">商品一覧</span></h3>
    <div class="mt-5 pt-3 offset-9">
      <%= link_to "＋", new_admin_product_path, class: 'btn-secondary rounded-circle p-3' %>
    </div>
  </div>
  <table class="table">
    <thead class="table-active">
      <tr>
        <th style="width: 10%">商品ID</th>
        <th style="width: 30%">商品名</th>
        <th style="width: 10%">税抜価格</th>
        <th style="width: 35%">ジャンル</th>
        <th style="width: 15%">ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td>
            <%= link_to admin_product_path(product) do %>
              <%= product.name %>
            <% end %>
          </td>
          <td><%= product.price.to_s(:delimited) %></td>
          <td><%= product.genre.genre %></td>
          <%# 販売中と販売停止中の色分けをcssに！ %>
          <% if product.is_valid == true %>
            <td>販売中</td>
          <% else %>
            <td>販売停止中</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @products %>
</div>