<div class="col-12">
  <h3 class="m-5 pl-5 page_title">商品詳細</h3>
  <div class="product-show col-12 d-flex pt-5 mb-5">
    <div class="product-img mx-5">
      <%= attachment_image_tag @product, :product_image, size: "400x300", fallback: "no_image.jpg" %>
    </div>
    <div class="product-info ml-5">
    <%# 商品名などのfontsizeはcssで！ %>
      <table>
        <tbody>
          <tr>
            <td>商品名</td>
            <td style="font-size: 24px;"><%= @product.name %></td>
          </tr>
          <tr>
            <td class="pt-3">商品説明</td>
            <td class="pt-3" style="font-size: 24px;"><%= @product.description %></td>
          </tr>
          <tr>
            <td class="pt-5">ジャンル</td>
            <td class="pt-5" style="font-size: 20px;"><%= @product.genre.genre %></td>
          </tr>
          <tr>
            <td class="pt-3">税込価格 <br>(税抜価格)</td>
            <td class="pt-3" style="font-size: 20px;"><%= include_tax(@product.price).to_s(:delimited) %>（<%= @product.price.to_s(:delimited) %>）円</td>
          </tr>
          <tr>
            <td class="pt-3 pr-5">販売ステータス</td>
            <%# 販売中、販売停止中の色分けはcssで！ fontsizeは20px! %>
            <% if @product.is_valid == true %>
              <td class="pt-3">販売中</td>
            <% else %>
              <td class="pt-3">販売停止中</td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <%= link_to "編集する", edit_admin_product_path(@product), class: 'btn btn-success rounded-pill btn-lg my-5 py-3 col-2 offset-5' %>
</div>


