<div class="row">注文履歴詳細</div>
<table class="table">
  注文情報
  <thead>
    <tr>
      <th>注文日</th>
      <th>配送先</th>
      <th>支払方法</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
      <td>
        <%= @order.postcode %>
        <%= @order.address %>
        <%= @order.address_name %>
      </td>
      <td><%= @order.payment_selection %></td>
      <td><%= @order.order_status %></td>
    </tr>
  </tbody>
</table>
<table class="table">
  請求情報
  <thead>
    <tr>
      <th>商品合計</th>
      <th>配送料</th>
      <th>ご請求額</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @total_price.to_s(:delimited) %></td>
      <td><%= @order.postage.to_s(:delimited) %></td>
      <td><%= @order.total_price.to_s(:delimited) %></td>
    </tr>
  </tbody>
</table>
  注文内容
  <table class="table">
    <thead>
      <tr>
        <th>商品</th>
        <th>単価(税込)</th>
        <th>個数</th>
        <th>小計</th>
      </tr>
    </thead>
    <tbody>
      <% @order.order_products.each do |order_product| %>
      <tr>
        <td><%= order_product.product.name %></td>
        <td><%= order_product.product_price.to_s(:delimited) %></td>
        <td><%= order_product.quantity.to_s(:delimited) %></td>
        <td><%= order_subtotal(order_product).to_s(:delimited) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>