<% case @range when "会員情報" %>
<div class="my-4 offset-1"><span class="page_title">会員一覧</span></div>
<table class="table mx-auto col-10">
  <thead class="thead-light">
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= link_to customer.fullname, admin_customer_path(customer),class: "text-dark" %></td>
        <td><%= customer.email %></td>
        <td>
          <% if customer.is_valid == true %>
            <div class="text-success">有効</div>
          <% else %>
            <div class="text-secondary">退会</div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @customers %>

<% when "商品名" %>
  <div class="row offset-1 justify-content-between">
    <div class="my-4"><span class="page_title">商品一覧</span></div>
    <div class="my-3 mr-5">
      <%= link_to "", new_admin_product_path, class: 'fas fa-plus-circle fa-3x text-secondary' %>
    </div>
  </div>
  <table class="table mx-auto col-10">
    <thead class="thead-light">
      <tr>
        <th style="width: 10%">商品ID</th>
        <th style="width: 30%">商品名</th>
        <th style="width: 10%">税抜価格</th>
        <th style="width: 35%">ジャンル</th>
        <th style="width: 15%">ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td>
            <%= link_to admin_product_path(product) do %>
              <%= product.name %>
            <% end %>
          </td>
          <td><%= product.price.to_s(:delimited) %></td>
          <td><%= product.genre.genre %></td>
          <% if product.is_valid == true %>
            <td class="text-success">販売中</td>
          <% else %>
            <td class="text-secondary">販売停止中</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

<%= paginate @products %>
<% when "注文者名" %>
<div class="my-4 offset-1"><span class="page_title">注文履歴一覧</span></div>
<table class="table mx-auto col-10">
  <thead class="thead-light">
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th>注文ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_order_path(order.id) %></td>
        <td><%= order.customer.fullname %></td>
        <td><%= order_products_quantity(order) %></td>
        <td><%= order.order_status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @orders %>
<% end %>