<header>
  <nav class="navbar navbar-expand-lg bg-info text-light">
    <div class="container">
      <a href="/" class="navbar-brand">
        <%= image_tag asset_path('logo.png'), :size =>'200x70' %>
      </a>
      <ul class="navbar-nav ml-auto font-weight-bold d-block">
        <% if admin_signed_in? %>
          <li><%= link_to "商品一覧", admin_products_path, class: 'nav-link ' %></li>
          <li><%= link_to "会員一覧", admin_customers_path, class: 'nav-link' %></li>
          <li><%= link_to "注文履歴一覧", admin_path, class: 'nav-link' %></li>
          <li><%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link' %></li>
          <li><%= link_to "ログアウト", destroy_admin_session_path, class: 'nav-link', method: :delete %></li>
          <div class="mr-2">
            <%= form_with url: admin_search_path, method: :get, local: true do |f| %>
              <div class="d-flex justify-content-end">
                <%= f.text_field :word, placeholder: 'Search', class: 'form-control col-6 offset-5' %>
                <a class="btn btn-outline-light ml-3" data-toggle="collapse" href="#moresearch" role="button" aria-expanded="false" aria-controls="more-search"><i class="fas fa-plus"></i></a>
                <%= f.button type: 'submit', class: 'btn btn-outline-light ml-3' do %>
                  <i class="fa fa-search"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        <% elsif customer_signed_in? %>
          <li class="nav-link" style="display: inline-block;">ようこそ、<%= current_customer.firstname %>さん！</li>
          <li><%= link_to "マイページ", show_customers_path, class: 'nav-link ' %></li>
          <li><%= link_to "商品一覧", products_path, class: 'nav-link' %></li>
          <li><%= link_to "カート", cart_products_path, class: 'nav-link' %></li>
          <li><%= link_to "ログアウト", destroy_customer_session_path, class: 'nav-link', method: :delete %></li>
        <% else %>
          <li><%= link_to "About", about_path, class: 'nav-link' %></li>
          <li><%= link_to "商品一覧", products_path, class: 'nav-link' %></li>
          <li><%= link_to "新規登録", new_customer_registration_path, class: 'nav-link' %></li>
          <li><%= link_to "ログイン", customer_session_path, class: 'nav-link', method: :post %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>

<div class="row more-search-row">
  <div class="col">
    <div class="collapse more-search-collapse" id="moresearch">
      <div class="card card-body">
        <%= form_with url: admin_search_path, method: :get, local: true do |f| %>
          <div class="d-flex justify-content-end">
            <p class = "col-4 text-center text-secondary mb-0 mt-2">会員情報・商品名・注文者名の検索ができます。</p>
            <%= f.select :range, options_for_select([['会員情報'], ['商品名'],["注文者名"]]), {}, class: "form-control col-1 ml-5 text-secondary" %>
            <%= f.text_field :word, placeholder: 'Search', class: 'form-control col-3 ml-5' %>
            <%= f.button type: 'submit', class: 'btn btn-outline-secondary ml-5 ' do %>
              <i class="fa fa-search"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="header-div"></div>