<div class="login-form col-10 offset-1">
  <%= form_with model: model, url: url, local: true do |f| %>
    <dl>
      <dt><%= f.label :email, "メールアドレス", class: 'mr-5 pt-1' %></dt>
      <dd><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'sample@example.com', class: 'form-control col-7' %></dd>
      <dt><%= f.label :password, "パスワード", class: 'mr-5 pt-1' %></dt>
      <dd><%= f.password_field :password, autofocus: true, autocomplete: "current-password", class: 'form-control col-7' %></dd>
      <dt></dt>
      <dd><%= f.submit "ログイン", class: 'btn btn-primary px-5 py-2 my-3' %></dd>
    </dl>
  <% end %>
</div>